* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

/*--------------------------------------------------- Header ---------------------------------------------------*/
/* header {
  position: absolute;
  z-index: 7;
  top: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}
.logo-container img ,footer img{
  height: 5rem;
}
.menu{
  display: none !important;
}
nav ul {
  display: flex;
  gap: 4rem;
}
nav ul li ,.footer-links ul li {
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
}
nav ul li a {
  text-decoration: none;
  color: #002746;
}
nav {
  display: flex;
  gap: 4rem;
}

nav button {
  background-color: #002746;
  border: none;
  padding: 1rem;
  border-radius: 0.7rem;
  margin-left: 11rem;
}
nav button a {
  text-decoration: none;
  color: #e6f0f9;
} */

header {
  background: #e6f0f9;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 7;
}

.alllist {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  height: 70px;
}

ul {
  list-style: none;
  display: flex;
}

.li-container {
  display: flex;
}

.li-container > li > a {
  margin: 20px;
  text-decoration: none;
  font-size: 1.2em;
  color: #002746;
  text-transform: capitalize;
}
header button a {
  text-decoration: none;
  color: #e6f0f9;
}
header button {
  background-color: #002746;
  border: none;
  padding: 0.7rem;
  border-radius: 0.4rem;
}
.bx {
  display: none !important;
}
/*--------------------------------------------------- Home ---------------------------------------------------*/

section {
  font-family: cursive;
}
.home-section {
  background-color: #e6f0f9;
  width: 100%;
  height: 100vh;
}
.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
}
.img-container {
  position: absolute;
  top: 0;
  right: 0;
}
.img-container img {
  width: 32rem;
  height: 100vh;
}
.content-container {
  color: #002746;
  width: 60rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.content-container h1 {
  color: #002746;
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.content-container span {
  display: block;
  text-align: center;
}
.content-container p {
  text-align: center;
  font-size: 1.5rem;
}
.popular-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.popular-container a {
  padding: 11px 15px;
  border-radius: 2rem;
  font-size: 1rem;
  box-shadow: 0px 0px 3px #00274658;
  text-decoration: none;
  color: #002746;
}

.input-container {
  width: 33rem;
  height: 4rem;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 0 2rem;
}
.input-container input {
  border: none;
  outline: none;
  height: 4rem;
  width: 50%;
  border-right: 1px solid #aca8a8a1;
}
::placeholder {
  font-size: 1.2rem;
  color: #aca8a8a1;
}

.input-container select {
  border: none;
  outline: none;
  padding: 0 2rem;
  font-size: 1.2rem;
  color: #aca8a8a1;
}
.input-container i {
  color: #aca8a8a1;
  font-size: 1.4rem;
  text-align: center;
}
/*--------------------------------------------------- categories ---------------------------------------------------*/

.categories-section {
  background-color: #e6f0f9;
  width: 100%;
  padding: 6rem;
  color: #002746;
}
.categories-container {
  width: 80%;
  margin: auto;
}
.all-categories,
.all-featured {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.all-categories div {
  width: 18rem;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.all-categories div a {
  text-decoration: none;
  color: #002746;
}
.all-categories img {
  width: 5rem;
  border-radius: 50%;
}
.paragraph {
  padding: 1rem 0 4rem 3rem;
}
/*--------------------------------------------------- Featured ---------------------------------------------------*/
.featured-section {
  background-color: #fff8ed;
  height: 100vh;
  display: flex;
  color: #002746;
}
.featured-container {
  width: 80%;
  margin: auto;
}
.featured-container img {
  width: 2rem;
}
.featured {
  width: 18rem;
  background-color: #e6f0f9;
  padding: 1rem 0rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 1rem;
}
.featured div:first-child,
.featured div:last-child {
  display: flex;
  justify-content: space-around;
}
.featured div:nth-child(2) {
  padding: 2rem 0;
}
/*inline*/
.see-all-featured {
  text-align: center;
  margin-top: 4rem;
  color: #002746;
}
.see-all-featured a {
  text-decoration: none;
  color: #002746;
}

.see-all-featured span {
  display: block;
  text-decoration: none;
  color: #002746;
}

/*--------------------------------------------------- Footer ---------------------------------------------------*/
footer{
  background-color: #002746;
  padding: 2rem 6rem 0;
    display: grid;
    height: 19rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80% 20%;
    color: #e6f0f9;
}

.footer-about{
  width:19rem ;
}
.footer-copyright{
  text-align: center;
grid-column: 1/4;
border-top: 1px solid ;
}
.footer-copyright p{
  padding: 1rem 0;
}
.footer-links ul,.footer-office{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
footer img{
  width: 9rem;
}
.footer-office{
  width: 14rem;
  

}
.footer-links ul li  a{
  text-decoration: none;
  color: #e6f0f9;

}
footer h4{
  text-transform: capitalize;
}

@media (max-width: 640px) {
  /*Header*/

  .alllist {
    display: none;
  }
  .bx {
    display: block !important;
    color: #002746;
    font-size: 2.7rem;
    background-color: transparent;
    border: none;
  }
  section {
    width: 18rem;
    min-height: 60vh;
  }
  main {
    height: fit-content;
    padding: 8rem 0;
  }


.login-button {
    display: none;
}

#menu-icon {
    display: block;
}

.alllist {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(10px);
    height: 55vh;
    width: 100%;
    top: 100%;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    z-index: 999;
}

.li-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    display: block;
}

.li-container a {
    display: flex;
    display: block;
    margin: 30px 0;
}

.alllist.open {
    right: 0;
}
  /*Home*/
  .home-container {
    width: 80%;
    margin: auto;
  }
  .img-container {
    display: none;
  }
  .content-container {
    width: fit-content;
  }
  .content-container h1 {
    text-align: center;
  }
  .content-container p {
    text-align: center;
    font-size: 1rem;
  }
  .popular-container {
    justify-content: center;
  }
  .input-container {
    width: fit-content;
  }
  .input-container input {
    width: 80%;
  }
  ::placeholder {
    font-size: 0.8rem;
    color: #aca8a8a1;
  }
  .input-container select {
    padding: 0 0rem;
    font-size: 1rem;
  }
  .input-container i {
    font-size: 1rem;
    text-align: center;
  }
  /*categories and featured*/

  .categories-section,
  .featured-section {
    width: 100%;

    height: fit-content;
    padding: 2rem 0rem 5rem;
  }
  .all-categories,
  .all-featured {
    gap: 3rem;
  }
  .categories-container h2,
  .featured-container h2 {
    padding: 1rem 0 0rem 3rem;
  }
  /*footer*/
  footer {
    height: fit-content;
    grid-template-columns: 1fr 0 0 0;
    padding: 3rem 4rem 0;
    grid-template-rows: 1fr 1fr 1fr auto;
  }
  .footer-office {
    grid-row: 2/3;
  }
  .footer-links {
    grid-row: 3/4;
    padding-bottom: 2rem;
  }
  .footer-copyright {
    grid-row: 4/5;
  }
}
